<app-dashboard-navbar></app-dashboard-navbar>
<div class="container-fluid mt-3">

  <!-- IF COMPANY IS REGISTERED -->
  <ng-container *ngIf="exist === true">
    <div class="row">
      <div class="col-lg-2">
        <div class="card shadow p-2 bg-white rounded text-center">
          <div class="card-body p-0">
            <ng-container *ngFor="let company of listCompanies">
              <!-- HEADER -->
              <app-dashboard-header [company]="company"></app-dashboard-header>
              <hr>
              <!-- MENU -->
              <app-dashboard-menu [user]="user"></app-dashboard-menu>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="card shadow p-2 bg-white rounded">
          <div class="card-body p-0">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </ng-container>


  <!-- IF COMPANY IS NOT REGISTERED -->
  <ng-container *ngIf="exist === false">
    <div class="row">
      <div class="col-lg-4 offset-lg-1">
        <div class="jumbotron">
          <h1 class="display-4">Gestionate!</h1>
          <p class="lead">Con Gestionate puedes administrar tu empresa y todos sus recursos.</p>
          <hr class="my-4">
          <p>Para comenzar solo tienes que registrar tu empresa.</p>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1">
        <app-new-company [user]="user"></app-new-company>
      </div>
    </div>
  </ng-container>


</div>
