<div class="card">
  <div class="card-header">
    <h5>Editar Marca</h5>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <form #editForm="ngForm" (ngSubmit)="getEdit(user, editBrand)">

          <!-- Brand -->
          <div class="form-group row">
            <label for="txtBrand" class="col-md-4 col-form-label">MARCA VEHÍCULO:</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="txtBrand" [(ngModel)]="brand.brand" name="brand">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-4">
              <button type="reset" class="btn btn-danger btn-block" (click)="getCancel()">CANCELAR</button>
            </div>
            <div class="col-md-4">
              <button type="submit" class="btn btn-primary btn-block">GUARDAR</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
