<div class="card">
  <div class="card-header">
    <h5>Editar Pregunta</h5>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-6">

        <form #editForm="ngForm" (ngSubmit)="getEdit(user, editQuestion)">

          <!-- Checklist -->
          <div class="form-group row">
            <label for="cbChecklist" class="col-md-3 col-form-label">CHECKLIST:</label>
            <div class="col-md-9">
              <select class="form-control" id="cbChecklist" [(ngModel)]="question.checklistId" name="checklistId">
                <option value="" selected>SELECCIONAR</option>
                <option *ngFor="let checklist of listChecklist"
                        value="{{checklist.id}}">{{checklist.description}}</option>
              </select>
            </div>
          </div>

          <!-- Category -->
          <div class="form-group row">
            <label for="cbCategory" class="col-md-3 col-form-label">CATEGORIA:</label>
            <div class="col-md-9">
              <select class="form-control" id="cbCategory" [(ngModel)]="question.categoryId" name="categoryId">
                <option value="" selected>SELECCIONAR</option>
                <option *ngFor="let category of listCategories"
                        value="{{category.id}}">{{category.name}}</option>
              </select>
            </div>
          </div>

          <!-- Description -->
          <div class="form-group row">
            <label for="txtName" class="col-md-3 col-form-label">PREGUNTA:</label>
            <div class="col-md-9">
              <textarea id="txtName" class="form-control" cols="30" rows="3" [(ngModel)]="question.description"
                        name="description"></textarea>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-4">
              <button type="reset" class="btn btn-danger btn-block" (click)="getCancel()">CANCELAR</button>
            </div>
            <div class="col-md-4">
              <button type="submit" class="btn btn-primary btn-block">GUARDAR</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
