<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <br>
      <br>
      <div class="card shadow p-2 bg-white rounded">
        <div class="card-body">
          <h5 class="text-center">Iniciar sesión</h5>
          <br>
          <button type="button" class="btn btn-google" (click)="loginGoogle()">
            <img src="../../../../../assets/images/buttons/google.svg" alt="button google" class="img-google">
            Continuar con Google
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
